body{
font-family: Arial, sans-serif;
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
color:white;
}

.container{
background:#1e293b;
padding:30px;
border-radius:10px;
width:350px;
}

h1{
text-align:center;
margin-bottom:20px;
}

.output{
display:flex;
margin-bottom:20px;
}

.output input{
flex:1;
padding:10px;
border:none;
border-radius:5px 0 0 5px;
}

.output button{
padding:10px;
border:none;
background:#38bdf8;
cursor:pointer;
border-radius:0 5px 5px 0;
}

.settings{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:20px;
}

#generate{
width:100%;
padding:12px;
background:#22c55e;
border:none;
border-radius:5px;
cursor:pointer;
font-weight:bold;
}

.strength{
margin-bottom:15px;
}

#strengthBar{
height:10px;
background:red;
border-radius:5px;
margin-top:5px;
}